.course__section {
    display: flex;
    align-items: flex-start;
    padding: 4px;
}

.course__section p {
    margin-bottom: 0;
}

.section__info {
    margin-left: 2rem;
}

.section__instr {
    
    cursor: pointer;
}