.tag {
    margin: 4px;
    padding: 0 8px;
    background-color: #006DCC;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.tag p {
    margin-right: 4px;
    margin-bottom: 0;
}

.btn-remove {
    border: none;
    outline: none;
    background: none;
}